{{ diagnostic }}
<form #rdvForm="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
  <div class="ui-g container">
    <div class="ui-g-12">

      <p-panel>
        <p-header>Cadastro das despesas de viagem</p-header>
        <p-tabView>
          <p-tabPanel header="Cadastro" class="form-group">
            <div class="ui-g">

              <div class="ui-g-12">
                <div class="ui-g-12 ui-md-3 ui-fluid">
                  <label for="codigoRdv">Código do RDV</label>
                  <p-autoComplete class="form-control" id="codigoRdv" name="codigoRdv" [(ngModel)]="rdv.codigoRdv"
                    [disabled]="true">
                  </p-autoComplete>
                </div>
                <div class="ui-g-12 ui-md-3 ui-fluid">
                  <label for="nomeTabelaParametros">Tabela Parâmetros</label>
                  <p-autoComplete class="form-control" id="nomeTabelaParametros" name="nomeTabelaParametros"
                    [(ngModel)]="rdv.nomeTabelaParametros" [disabled]="true">
                  </p-autoComplete>
                </div>
                <div class="ui-g-12 ui-md-3 ui-fluid">
                  <label for="nomeTabelaPrecoQuilometragem">Tabela Preço KM</label>
                  <p-autoComplete class="form-control" id="nomeTabelaPrecoQuilometragem"
                    name="nomeTabelaPrecoQuilometragem" [(ngModel)]="rdv.nomeTabelaPrecoQuilometragem"
                    [disabled]="true">
                  </p-autoComplete>
                </div>
                <div class="ui-g-12 ui-md-3 ui-fluid">
                  <label for="situacaoRdv">Situação RDV</label>
                  <p-autoComplete class="form-control" id="situacaoRdv" name="situacaoRdv" [(ngModel)]="rdv.situacaoRdv"
                    [disabled]="true">
                  </p-autoComplete>
                </div>
              </div>

              <div class="ui-g-12">
                <div class="ui-g-12 ui-md-6 ui-fluid">
                  <label for="nomeEmpresa">Empresa</label>
                  <p-autoComplete id="nomeEmpresa" class="form-control" minLength=3 [suggestions]="empresas"
                    (completeMethod)="pesquisaEmpresa($event)" [(ngModel)]="rdv.nomeEmpresa" name="nomeEmpresa"
                    (onSelect)="empresaSelecionadaEvent($event)" [dropdown]="true" required>
                    <ng-template let-c pTemplate="item">
                      <div class="ui-helper-clearfix">
                        <div>{{ c.codigoEmpresa }} - {{ c.nomeEmpresa }}</div>
                      </div>
                    </ng-template>
                  </p-autoComplete>
                </div>
                <div class="ui-g-12 ui-md-6 ui-fluid">
                  <label for="cliente">Cliente</label>
                  <p-autoComplete id="cliente" minLength=3 [suggestions]="clientes" [(ngModel)]="rdv.nomeCliente"
                    (completeMethod)="pesquisaCliente($event)" (onSelect)="clienteSelecionadoEvent($event)"
                    name="nomeCliente" dropdownMode="current" [dropdown]="true" required>
                    <ng-template let-c pTemplate="item">
                      <div class="ui-helper-clearfix">
                        <div>{{ c.codigo }} - {{ c.nome }} - {{ c.cnpj }} - {{ c.cidade }}</div>
                      </div>
                    </ng-template>
                  </p-autoComplete>
                </div>
                <div class="ui-g-12 ui-md-3 ui-fluid">
                  <label class="control-label">Data Inicial</label>
                  <p-calendar id="vacancies-opening-date-end" ui-mask="99/99/9999" placeholder="__/__/____"
                    showButtonBar="true" dateFormat="dd/mm/yy" showIcon="true" [(ngModel)]="rdv.dataInicioViagem"
                    name="dataInicioViagem" required></p-calendar>
                </div>
                <div class="ui-g-12 ui-md-3 ui-fluid">
                  <label class="control-label">Data Final</label>
                  <p-calendar id="vacancies-opening-date-end" ui-mask="99/99/9999" placeholder="__/__/____"
                    showButtonBar="true" dateFormat="dd/mm/yy" showIcon="true" [(ngModel)]="rdv.dataFinalViagem"
                    name="dataFinalViagem" required></p-calendar>
                </div>
                <div class="ui-g-12 ui-md-2 ui-fluid">
                  <label for="tipoDatRatRelacionada">Tipo DAG/RAT Relacionada</label>
                  <p-dropdown id="tipoDatRatRelacionada" name="tipoDatRatRelacionada" [options]="tipoDagRatRelacionada"
                    [(ngModel)]="rdv.tipoDagRatRelacionada" optionLabel="label">
                  </p-dropdown>
                </div>
                <div class="ui-g-12 ui-md-4 ui-fluid">
                  <label for="codigoDagRatRelacionada">Número</label>
                  <p-autoComplete class="form-control" id="codigoDagRatRelacionada" name="codigoDagRatRelacionada"
                    [(ngModel)]="rdv.codigoDagRatRelacionada">
                  </p-autoComplete>
                </div>
                <div class="ui-g-12 ui-md-6 ui-fluid">
                  <label class="control-label">Objetivo</label>
                  <textarea pInputTextarea [(ngModel)]="rdv.objetivoRdv" name="objetivoRdv"></textarea>
                </div>
                <div class="ui-g-12 ui-md-6 ui-fluid">
                  <label class="control-label">Itinerário</label>
                  <textarea pInputTextarea [(ngModel)]="rdv.nomeItinerario" name="nomeItinerario"></textarea>
                </div>
              </div>

              <div class="ui-g-12">
                <button id="enviarParaReembolso" type="submit" class="btn btn-success" pButton
                  label="Enviar para Reembolso/Faturamento" [routerLink]="'/cadastro'"
                  [disabled]="!rdvForm.form.valid"></button>
                <button id="salvarRascunho" type="button" class="ui-button-secondary" pButton
                  label="Salvar como rascunho" [disabled]="!selected" (click)="onEditClick()"></button>
                <button id="cancelar" pButton type="button" class="ui-button-text-only ui-button-link">Cancelar</button>
              </div>
            </div>
          </p-tabPanel>

          <p-tabPanel header="Reembolso">
            <div class="ui-g">
              <div class="ui-g-12">
                <div class="ui-g-12 ui-md-3 ui-fluid">
                  <label class="control-label">Número Título</label>
                  <p-autoComplete name="reembolsoNumeroTitulo" field="reembolsoNumeroTitulo" [(ngModel)]="rdv"
                    [disabled]="true">
                  </p-autoComplete>
                </div>
                <div class="ui-g-12 ui-md-3 ui-fluid">
                  <label class="control-label">Tipo do Título</label>
                  <p-autoComplete name="reembolsoTipoTitulo" field="reembolsoTipoTitulo" [(ngModel)]="rdv"
                    [disabled]="true">
                  </p-autoComplete>
                </div>
                <div class="ui-g-12 ui-md-3 ui-fluid">
                  <label class="control-label">CCódigo Consultor como Fornecedor</label>
                  <p-autoComplete name="reembolsoCodigoFornecedor" field="reembolsoCodigoFornecedor" [(ngModel)]="rdv"
                    [disabled]="true">
                  </p-autoComplete>
                </div>
                <div class="ui-g-12 ui-md-3 ui-fluid">
                  <label class="control-label">Valor KM considerado</label>
                  <p-autoComplete name="reembolsoValorQuilometro" field="reembolsoValorQuilometro" [(ngModel)]="rdv"
                    [disabled]="true">
                  </p-autoComplete>
                </div>
              </div>
            </div>
          </p-tabPanel>

          <p-tabPanel header="Faturamento">
            <div class="ui-g">
              <div class="ui-g-12">
                <div class="ui-g-12 ui-md-3 ui-fluid">
                  <label class="control-label">Pedido</label>
                  <p-autoComplete name="faturamentoCodigoPedido" field="faturamentoCodigoPedido" [(ngModel)]="rdv"
                    [disabled]="true">
                  </p-autoComplete>
                </div>
                <div class="ui-g-12 ui-md-3 ui-fluid">
                  <label class="control-label">Série NF</label>
                  <p-autoComplete name="faturamentoSerieNota" field="faturamentoSerieNota" [(ngModel)]="rdv"
                    [disabled]="true">
                  </p-autoComplete>
                </div>
                <div class="ui-g-12 ui-md-3 ui-fluid">
                  <label class="control-label">Número NF</label>
                  <p-autoComplete name="faturamentoNumeroNota" field="faturamentoNumeroNota" [(ngModel)]="rdv"
                    [disabled]="true">
                  </p-autoComplete>
                </div>
                <div class="ui-g-12 ui-md-3 ui-fluid">
                  <label class="control-label">Data Emissão</label>
                  <p-autoComplete name="faturamentoDataEmissaoNota" field="faturamentoDataEmissaoNota" [(ngModel)]="rdv"
                    [disabled]="true">
                  </p-autoComplete>
                </div>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>
      </p-panel>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-panel>
        <p-header>Despesas</p-header>
        <div class="ui-g">
          <div class="ui-g-12">
            <button id="addRdv" type="button" pButton label="Adicionar" [routerLink]="'/cadastro'"></button>
            <button id="editRdv" type="button" class="ui-button-secondary" pButton label="Editar" [disabled]="!selected"
              (click)="onEditClick()"></button>
            <button id="delete" type="button" class="ui-button-secondary" pButton label="Deletar"
              (click)="onDeleteClick()" [disabled]="!selected"></button>
          </div>
        </div>
        <p-table [value]="rdvs" dataKey="codigoRdv" selectionMode="single" scrollable="true" resizableColumns="true"
          class="sds-list" sortMode="multiple" reorderableColumns="true" [(selection)]="selected" [responsive]="true">
          <ng-template pTemplate="header">
            <tr>
              <th width="10%">Código</th>
              <th width="50%">Cliente</th>
              <th width="20%">Destino</th>
              <th width="10%">Situação</th>
              <th width="10%">Data Cadastro</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rdv>
            <tr [pSelectableRow]="rdv">
              <td width="10%">{{ rdv.codigoRdv }}</td>
              <td width="50%">{{ rdv.nomeCliente }}</td>
              <td width="20%">{{ rdv.cidadeCliente }}</td>
              <td width="10%">{{ rdv.situacaoRdv }}</td>
              <td width="10%">{{ rdv.dataCadastroRdv }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td>
                Nenhuma despesa cadastrada
              </td>
            </tr>
          </ng-template>
        </p-table>
        <p-paginator [rows]="10" [totalRecords]="100"></p-paginator>
      </p-panel>
    </div>

  </div>

</form>
